body{
  background-color: hsl(0, 0%, 95%);
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar{
  width: 0.7rem; 
}

body::-webkit-scrollbar-thumb{
  background-color: hsl(272 40% 35%);
}

body.block-scroll{
  overflow: hidden;
}
